    {% for article in articles %}
    <div class="w-80 h-[550px] m-12 shadow-lg shadow-emerald-500 hover:shadow-blue-500 rounded-lg text-black flex flex-col text-center items-center">
            <a href="/produit?id={{article.id}}">
            <h3 class="my-4 text-3xl font-semibold">{{article.name|capitalize}}</h3>
                <span class="w-auto my-4 flex flex-col justify-center h-auto">
                    <h4 class="my-4">{{ article.brand|capitalize}}</h4>
                    <p class="flex my-auto px-6 w-full h-12 overflow-hidden">{{article.description}}</p>
                    <img class="m-8 h-60" src="../resources/assets/img/{{ article.img }}" alt="{{ article.img }}">
                </span>
                {% if article.quantity >0 %}
                    <span class="text-3xl my-auto text-emerald-500 ">{{article.price|number_format(2, '.', ' ') }}€</span>
                {% else %}
                    <p class="text-2xl my-auto">Victime de son Succès</p>
                {% endif %}
            </a>


    </div>

{% endfor %}