<nav class="bg-[#708090] text-center flex items-center justify-between  w-full h-14">
    <div class="flex justify-center items-center">
        <a href="/home">
            <h1 class="ml-10 text-3xl font-semibold text-white">Weapons-Shop</h1>
        </a>
    </div>
    <div>
        <form class="flex justify-center items-center" action="/searchProduct" method="post">
            <input class="w-80 rounded-tl-xl h-9" type="text" name="search">
            <button class="w-36 h-9 bg-white  rounded-br-xl text-balck text-xl " type="submit">Rechercher</button>
        </form>
    </div>
    <div class="mr-6 flex font-semibold">
        <a class="mr-10" href="/bag">
            <i class="fa-solid fa-basket-shopping text-2xl text-white"></i>
            {% if session.quantityArticle > 0 %}
            <span id="numberArticle" class="absolute flex justify-center items-center border bg-yellow-200 w-6 h-6 rounded-2xl top-2 right-[135px] ">{{ session.quantityArticle }}</span>
            {% endif %}
        </a>
        <a class="mr-10" href="">
            <i class="fa-regular fa-user text-2xl text-white"></i>
        </a>
        <form action="/disconnect" method="post">
            <button>
                <i class="fa-solid fa-door-open text-2xl text-white"></i>
            </button>
        </form>
    </div>

</nav>
