{% extends 'layout.twig' %}

{% block content %}

    <div class="w-auto h-full text-white flex flex-col justify-center items-center">
        <section>
            <span>
                <h1 class=" mt-10 text-black text-center text-5xl" id="title">Nos Produits</h1>
            </span>
            <div class="flex">
                {% if categorie != null %}
                <div id="groupMenu" class=" flex w-auto h-full fixed">
                    <div id="menu" class=" h-full bg-[#708090] mt-10 text-center transition duration-700">
                        <h2 id="categories" class="text-xl hidden">Nos Categories</h2>
                        <ul id="list" class="mt-10 hidden">
                            <li><a href="/home">Tous</a></li>
                            {% for categories in categorie %}
                            <li><a href="/home">{{ categories.0 }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span id="arrow" class="bg-[#708090] w-10 h-10 mt-10 flex justify-center items-center rounded-br-xl rounded-tr-xl">
                        <i id="arrowList" class="fa-solid fa-arrow-right text-2xl transition duration-700"></i>
                    </span>
                    {% endif %}
                </div>
                <div class="w-full h-full flex flex-wrap justify-around align-center text-black px-24 mt-10">

                    {% include './components/card.twig' %}

                </div>
            </div>
            {% if categorie != null %}
                <hr class="border-black mx-4 mb-4">
                <div class="text-black flex justify-between mx-4 mb-4">


                    <p>page &nbsp;{{page}}&nbsp;sur&nbsp;{{numberPages}}</p>

                    <div>
                        {% for i in 1..numberPages  %}
                        <a class="border-black border p-2 hover:bg-black hover:text-white" href="?page={{i}}" class="text-black">{{i}}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </section>
    </div>





{% endblock %}
