<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weapons-Shop</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/48a437b974.js" crossorigin="anonymous"></script>
    <link href="https://api.fontshare.com/v2/css?f[]=nippo@500&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-50 font-[nippo] w-full h-full">

    {% block header %}
        {% include './components/navbar.twig' %}
    {% endblock %}

    {% block content %}

    {% endblock %}


    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/resources/assets/javascript/main.js"></script>
</body>
</html>
