{% extends 'layout.twig' %}
{% block content %}
    <div class="w-full h-full flex flex-col justify-center items-center ">

        <h2 class="text-black text-3xl mt-10 mb-10">{{produit.name}}</h2>

        <div class="w-full h-full px-60 flex justify-around items-center">

            <img class="ml-20 w-4/12" src="../resources/assets/img/{{ produit.img }}" alt="{{ article.img }}">

            <div class="ml-10">
                <span class="ml-4  mx-4 font-semibold">quantité restante : {{ produit.quantity }} </span>
                <div class="flex flex-col justify-center items-center">
                    <p class="mt-6 ml-4 "> {{ produit.description }}</p>
                    {% if produit.quantity > 0 %}
                        <p class="mt-2 text-xl font-semibold" >Prix : {{ produit.price |number_format(2, ' € ', ' ')}} </p>
                    {% endif %}
                </div>
                {% if produit.quantity > 0 %}
                    <form class="mt-10 ml-4" action="/form-addbag" method="post">
                        <div class="flex mt-4 justify-around ">
                            <div class="flex">
                                <p class="w-40 h-12 bg-yellow-400 pl-4 flex items-center">quantité desiré :</p>
                                <select class="bg-yellow-400 w-20 h-12 text-center" name="quantity" id="quantity">
                                    {% for i in 1..produit.quantity  %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                <button id="comptage" class="flex justify-center items-center bg-yellow-400 w-48 h-12 rounded-lg">
                                    <i class="fa-solid fa-cart-arrow-down text-4xl"></i>
                                    <span class="ml-4">ajouter au panier</span>
                                </button>
                            <input type="hidden" value="{{produit.id}}" name="id">
                        </div>
                    </form>
                {% else %}
                    <p class="text-center mt-10 font-semibold text-2xl">Victime de son Succès</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}