{% extends 'layout.twig' %}

{% block header %}
{% include './components/navbar-connexion.twig' %}
{% endblock %}

{% block content %}

<div class="h-full w-full text-white flex justify-center items-center">
    <div class="w-96 h-[550px] bg-[#708090] flex mt-10 justify-center border-2 border-black rounded-lg">
        <form action="/form-connect" method="post">
            <div class="flex flex-col text-center">
                <h2 class="mt-10 text-3xl">Connexion</h2>
                <span class="mt-20 flex flex-col">
                    <label for="email">Adresse Mail</label>
                    <input class="w-72 text-black" type="email" id="email" name="email" required>
                </span>
                <span class="mt-14 flex flex-col">
                    <label for="">Mot de Passe</label>
                    <input class="w-72 text-black" type="password" id="password" name="password" required>
                </span>

            <button class="m-auto mt-20 border-2 border-black rounded-xl w-36 h-8 text-center ">Se connecter</button>
                <a class="mt-20" href="/">S'inscrire</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}