{% extends 'layout.twig' %}

{% block header %}
{% include './components/navbar-connexion.twig' %}
{% endblock %}

{% block content %}


<div class="h-full w-full text-white flex justify-center items-center">
    <div class="w-96 h-[550px] bg-[#708090] flex m-auto mt-10 mb-10  justify-center border-2 border-black rounded-lg">
        <form action="/form-inscription" method="post">
            <div class="flex flex-col text-center">
                <h2 class="mt-10 text-3xl">Inscription</h2>
                <span class="mt-10 flex flex-col">
                    <label for="email">Adresse Mail</label>
                    <input class="w-72 text-black" type="email" name="email" id="email" required>
                </span>
                <span class="mt-10 flex flex-col">
                    <label for="mdp">Mot de Passe</label>
                    <input class="w-72 text-black" type="password" name="password" id="password" required>
                </span>
                <span class="mt-10 flex flex-col">
                    <label for="password2">Confirmation Mot de Passe</label>
                    <input class="w-72 text-black" name="password2" type="password" id="password2" required>
                </span>

                <button type="submit" class="m-auto mt-14 border-2 border-black rounded-xl w-36 h-8 text-center ">Inscription</button>
                <a class="mt-14" href="/connexion">Se Connecter</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}