{% extends 'layout.twig' %}

{% block content %}
    <div class="w-full h-screen mt-24 flex flex-col items-center">
        {% if productId %}
        <h1 class="text-3xl text-center">Mon Panier</h1>
        <div class="w-[950px] h-auto mt-4 border-black border">
            <table class="w-full">
                <thead class=" w-full justify-between">
                <tr class="justify-between border-b border-black font-normal">
                    <th>quantité</th>
                    <th>nom</th>
                    <th>marque</th>
                    <th>Prix/U</th>
                    <th>Prix total</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for bagarticle in productId %}
                <form action="/deleteArticleBag" method="post">
                    <tr class="justify-between text-center border-b">
                        <td>{{bagarticle.quantity}}</td>
                        <td>{{bagarticle.name}}</td>
                        <td>{{bagarticle.brand}}</td>
                        <td>{{bagarticle.price|number_format(2, ' € ', ' ')}}</td>
                        <td>{{(bagarticle.quantity*bagarticle.price)|number_format(2, ' € ', ' ')}}</td>
                        <td>
                            <button><i class="fa-regular fa-trash-can"></i></button>
                        </td>
                        <input name="id" type="hidden" value="{{bagarticle.id}}">
                        <input name="quantity" type="hidden" value="{{bagarticle.quantity}}">
                    </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <a class="mt-10 flex items-center justify-center border border-2 rounded-xl bg-yellow-500 w-60 h-12" href="/paiement">valider votre commande</a>
        {% else %}
            <p class="mt-10 text-xl">Vous n'avez aucun article dans Votre Panier, Pour le moment...</p>
        {% endif %}
    </div>

{% endblock %}